* {
    box-sizing: border-box;
}

body {
    background: lightgray;
}

main {
    width: 850px;
    padding: 0;
    margin: 10px auto;
    border: 2px solid gray;
}
h1, h2 {
    font-family: 'Hind Siliguri', sans-serif;

    text-shadow: 4px 3px 0px black,
     -10px 7px 4px rgba(206,89,55,0);
   
}
header {
    position: relative;
    width: 848px;
    height: 400px;
    border: 1px solid black;
    color: white;
    background: white;
    margin: 0 2px 0 -1px;
}

#blue_rectangle {
    position: absolute;
    width: 846px;
    height: 350px;
    margin: 0;
    background-color: rgb(75, 91, 158);
}

#profile_picture {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(75, 91, 158);
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 5px 6px 15px -2px #000000; 
box-shadow: 5px 6px 15px -2px #000000;
}

#profile_picture img {
        width: 192px;
}

#your_page_name {
    position: absolute;
    top: 240px;
    left: 230px;
    font-size: 30px;
}

#website {
    position: absolute;
    top: 290px;
    left: 230px;
}

header p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
    color: black;
}

#area_Follow {
    width: 250px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: 65px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#area_Follow div {
    height: 30px;
    margin: 0;
    padding: 0;
    border-left: 1px solid black;
    color: black;
}

#area_Follow div:nth-of-type(1) {
    flex: 2;
    border-left: none;
}

#area_Follow div:nth-of-type(2) {
    flex: 2;
}

#area_Follow div:nth-of-type(3) {
    flex: 1;
}

#area_Like {
    width: 70px;
    height: 30px;
    color: black;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: 65px;
    right: 280px;
}

header img {
    float: left;
    margin-left: 1px;
}

#area_header_menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 220px;
}

#area_header_menu p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 50px;
    margin: 0 10px;
}

.line_vertical {
    width: 2px;
    height: 40px;
    background-color: lightgray;
}

#area_header_menu p:hover {
    border-bottom: 5px solid black;
    margin-bottom: -5px;
    color: rgb(75, 91, 158);
    text-decoration:  underline;
}

.app span:hover {
    border-bottom: 1px solid black;
    margin-bottom: -1px;
    color: rgb(75, 91, 158);
    

}


.main_content {
    position: relative;
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_content p {
    margin: 5px 5px 5px 12px;
}

.line_horizontal_col_1 {
    width: 320px;
    height: 2px;
    background-color: lightgray;
}

.line_horizontal_col_2 {
    width: 510px;
    height: 2px;
    background-color: lightgray;
}

#column_one {
    width: 328px;
    border: 1px solid gray;
    margin: 10px 0 0 -1px;
    padding-bottom: 0;
}

#column_two {
    width: 512px;
    margin-right: 2px;
    border: 1px solid gray;
    margin-top: 10px;
}

#about_page, #about_address_phone, #apps, #photos {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 10px;
}
.blue_background {
    /*background: rgb(246, 247, 248);*/
    background:rgb(240, 242, 250);
}

#about_page div:nth-last-of-type(1) {
    padding: 0;
    margin: 0;
    flex: 1 20px;
}

#about_page div:nth-last-of-type(5) {
    flex: 1 30px;
}

.rectangle_app {
    display: inline-block;
    width: 100px;
    height: 80px;
    background-color: rgb(75, 91, 158);
    margin-right: 10px;

    -webkit-box-shadow: 5px 5px 6px -2px #000000; 
    box-shadow: 5px 5px 6px -2px #000000;
}

.app {
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
}

#frame_for_all_photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.photo-frame {
    width: 96px;
    height: 96px;
    background-color: rgb(75, 91, 158);
    margin: 6px;

    -webkit-box-shadow: 5px 5px 6px -2px #000000; 
    box-shadow: 5px 5px 6px -2px #000000;
}

.event {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 10px;
}

#event_logo {
    width: 50px;
    height: 50px;
    background-color: rgb(75, 91, 158);
    margin: 6px 0 6px 10px;
    float: left;

     -webkit-box-shadow: 5px 5px 6px -2px #000000; 
box-shadow: 5px 5px 6px -2px #000000;
}

.event_description {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#event_description_column1 {
    flex: 0.15 15px;
}

#event_description_column2_var2 {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin: 20px;
}

#event_description_column1_var2 {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: center;
    flex: 300px;
}

#event_description_column1_var2 p {
    margin: 0 5px;
}

.event_visual {
    width: 496px;
    height: 180px;
    background-color: rgb(75, 91, 158);
    margin: 7px;

}

.event_like_comment_share {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.event_like_comment_share p:hover {
    color: blue;
    border-bottom: 3px solid blue;
    padding-bottom: 1px;
    margin-bottom: 1px;
}

button {
    border-radius: 10%;
}

footer p {
    margin: 0 0 0 20px;
    font-size: 0.9em;
}